.feed {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    min-width: 0;
    max-width: 800px;
    padding: 0 5px;
    top: calc(var(--headerHeight) + 20px);
}

@media screen and (max-width: 750px) {
    .feed {
        gap: 35px;
    }
}