aside {
    position: sticky;
    padding-top: var(--headerHeight);
    top: 0;
    bottom: 0;
    z-index: 98;
    height: calc(100svh - var(--headerHeight));
    /* min-width: max(20vw, 265px); */
    /* max-width: 270px; */
    background-color: var(--navBackground);
    transition: min-width var(--transitionDuration);
    transition-property: min-width, width;
    overflow: hidden;

    nav {
        height: 100%;
        overflow-y: scroll;

        ul {
            padding: 0 15px;

            li {
                list-style-type: none;

                button {
                    border: 0;
                    border-radius: 10px;
                    background-color: transparent;
                    width: 100%;
                    text-align: left;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    transition: background-color .2s;
                }

                button:hover {
                    background-color: var(--grey);
                }

                .subredditIcon {
                    --cirRadius: 30px;
                    background-image: var(--profileImg);
                    background-size: cover;
                    background-position: center;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    font-weight: 800;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 1 / 1;
                    min-width: var(--cirRadius);
                    height: var(--cirRadius);
                    border-radius: calc(var(--cirRadius)/2);
                    border: .3px solid var(--midGrey);
                    color: var(--color);
                    background-color: var(--background);
                }

                .subredditName {
                    overflow-x: hidden;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                }
            }

        }
    }
}

aside {
    min-width: 0;
    width: 0;
}

aside.open {
    min-width: 300px;
    width: 0;
}

@media screen and (max-width: 750px) {
    aside {
        transition-property: transform;
        transform: translateX(-100%);
        min-width: 300px;
        width: auto;
    }

    aside.open {
        transform: translateX(0);
        width: auto;
    }
}