aside {
    position: sticky;
    top: var(--headerHeight);
    bottom: 0;
    z-index: 98;
    transform: translateX(0);
    height: calc(100svh - var(--headerHeight));
    min-width: max(20vw, 265px);
    max-width: 300px;
    background-color: var(--background);
    transition: transform .25s;
    overflow-y: scroll;
    overflow-x: hidden;

    nav {

        ul {
            padding: 0 0 0 15px;

            li {
                list-style-type: none;

                button {
                    border: 0;
                    border-radius: 10px;
                    background-color: transparent;
                    width: 100%;
                    text-align: left;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    transition: background-color .2s;
                }

                button:hover {
                    background-color: var(--grey);
                }

                .subredditIcon {
                    --cirRadius: 30px;
                    background-image: var(--profileImg);
                    background-size: cover;
                    background-position: center;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    font-weight: 800;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    aspect-ratio: 1 / 1;
                    min-width: var(--cirRadius);
                    height: var(--cirRadius);
                    border-radius: calc(var(--cirRadius)/2);
                    border: .3px solid var(--midGrey);
                    color: var(--color);
                    background-color: var(--background);
                }

                .subredditName {
                    overflow-x: hidden;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                }
            }

        }
    }
}


@media screen and (max-width: 750px) {
    aside {
        transform: translateX(-100%);

        ul {
            padding: 0 15px;
        }
    }

    aside.open {
        transform: translateX(0);
    }
}