header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;

    * {
        font-size: 1.1em !important;
    }

    div {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 15px;

        #menue {
            height: 35px;
            padding: 0 15px;

            .word {
                display: inline-block;
            }

            .icon {
                display: none;
            }
        }

        span {
            display: flex;
            align-items: center;
        }

        .headerLeft {
            justify-content: space-between;
            gap: 15px;
            height: 100%;
            min-width: 0;
            transition: min-width var(--transitionDuration);
            transition-property: min-width, background-color;
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            &.open {
                background-color: var(--navBackground);
                min-width: calc(var(--sideBarWidth) - 30px);
                -webkit-box-shadow: 0px 0px 20px 20px rgba(17, 17, 18, 0.9);
                -moz-box-shadow: 0px 0px 20px 20px rgba(17, 17, 18, 0.9);
                box-shadow: 0px 0px 20px 20px rgba(17, 17, 18, 0.9);
            }
        }

        .headerRight {
            width: 100%;
            flex: 1;
            align-items: center;
            padding-left: 15px;

            /* &.open {
                padding-left: var(--sideBarWidth);
            } */

            h1 {

                button {
                    background-color: transparent;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            &.open form {
                --halfSidebar: calc(50% - var(--sideBarWidth)/2);
                --ahHalfSidebar: calc(-50% + var(--sideBarWidth));
                left: var(--halfSidebar);
                transform: translate(var(--ahHalfSidebar), -50%);
            }

            form {
                display: flex;
                white-space: nowrap;
                transition-duration: var(--transitionDuration);
                transition-property: left, transform;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                min-width: 0;
                max-width: 800px;
                border-radius: var(--borderRadius);
                background-color: var(--midGrey);
                -webkit-box-shadow: 0px 0px 20px 8px rgba(17, 17, 18, 0.2);
                -moz-box-shadow: 0px 0px 20px 8px rgba(17, 17, 18, 0.2);
                box-shadow: 0px 0px 20px 8px rgba(17, 17, 18, 0.2);

                input,
                button {
                    border: none;
                    border-radius: var(--borderRadius);
                    height: 35px;
                    padding: 0 15px;
                    background-color: transparent;
                }

                input:focus,
                input:focus-visible,
                button:focus,
                button:focus-visible {
                    outline: none;
                }

                button[type="submit"] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    display: flex;
                    align-items: center;
                }

                input[type="text"] {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    width: 400px;
                }
            }
        }
    }

    div form:has(input:focus),
    div form:has(input:focus-visible) {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
        outline-width: 5px;
        background-color: var(--grey);
    }

    button {
        border: 0;
        padding: 0;
        margin: 0;
    }

    button:focus-visible {
        outline: none;
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: 8px 0;
        background-color: var(--navBackground);

        @supports (backdrop-filter:blur(5px)) {
            background-color: rgba(17, 17, 18, .9);
            backdrop-filter: blur(15px);
        }

        div {

            #menue {
                padding: 15px;
                height: auto;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;

                &:focus,
                &:focus-visible {
                    outline: none;
                }

                .word {
                    display: none;
                }

                .icon {
                    display: flex;
                    align-items: center;
                }
            }

            .headerLeft {
                width: 40px;
                min-width: auto;
                position: relative;

                &.open {
                    min-width: auto;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
            }

            .headerRight {
                min-width: 0;
                padding-left: 0;

                &.open form {
                    left: auto;
                    transform: none;
                }

                form {
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: none;
                    background-color: transparent;

                    input[type="text"] {
                        width: 0;
                        min-width: 0;
                        padding: 0;

                        &.searchInput.open {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}