.postContainer {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: var(--borderRadius);
    padding: 5px 15px;
    transition: background-color .1s;

    span h2 {
        line-height: 1.2;
    }
}

.postContainer:hover {
    background-color: var(--grey);
}

.creditBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: smaller;
    letter-spacing: 0.02em;
    color: var(--ultraLightGrey);

    a {
        font-weight: 600;
        color: var(--ultraLightGrey);
        text-decoration: none;
        transition: color .1s;
    }

    a:hover {
        color: var(--color);
        text-decoration: none;
    }
}


.creditBar::before {
    --cirRadius: 30px;
    content: attr(data-letter);
    background-image: var(--profileImg);
    background-size: cover;
    background-position: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--cirRadius);
    height: var(--cirRadius);
    border-radius: calc(var(--cirRadius)/2);
    color: var(--blue);
    background-color: var(--color);
}

.mediaContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;

    img,
    video {
        max-width: 100%;
        max-height: 90vh;
        aspect-ratio: auto;
        /* border-radius: var(--borderRadius); */
    }

    .selfText {
        color: var(--colorBodycopy);
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.mediaContainer:has(img, video) {
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    background-color: black;
    overflow: hidden;
}

.mediaContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--bgSrc);
    background-size: cover;
    background-position: center;
    filter: blur(20px) brightness(0.4);
    -webkit-filter: blur(20px) brightness(0.4);
    z-index: -1;
}

.postContainer .postInteraction {
    display: flex;
    flex-direction: row;
    gap: 5px;

    .postButton {
        border-radius: var(--borderRadius);
        background-color: var(--midGrey);
        display: inline-block;
    }

    button {
        border-radius: var(--borderRadius);
        background-color: transparent;
    }

    button:hover {
        background-color: rgba(255, 255, 255, .1);
    }
}

.vjs-big-play-button {
    border: none !important;
    aspect-ratio: 1 / 1;
    width: 70px !important;
    height: auto !important;
    border-radius: var(--borderRadius) !important;
}

.vjs-icon-placeholder:before {
    position: relative !important;
    width: auto !important;
    height: auto !important;
}