:root {
  /* dark mode colors */
  --background: #1a1917;
  --color: #fafafa;
  --colorBodycopy: rgb(184 184 184);
  --grey: #222121;
  --midGrey: #303030;
  --lightGrey: #7a7a7a;
  --ultraLightGrey: #a6a7af;
  --blueHover: #2e58fe;
  --blue: #2842ed;
  --lightBlue: #4257d1;
  /* --blueHover: #646cff;
  --blue: #535bf2; */

  --errorBg: #ff4756;
  --errorBorder: #f32c3c;

  --successBg: #32ac59;
  --successBorder: #5af32c;

  --borderWidth: 2px;
  --borderRadius: 20px;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Archivo-Variable', system-ui, -apple-system, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.02em;
}

a {
  font-weight: 500;
  color: var(--lightBlue);
  text-decoration: none;
}

a:hover {
  color: var(--blueHover);
}

body,
html {
  width: 100vw;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3 {
  letter-spacing: -0.01em;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  border-radius: var(--borderRadius);
  border: 1px solid transparent;
  padding: 0.6em .8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--blue);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.textWrapPretty {
  text-wrap: pretty;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color);
  }

  a:hover {
    color: var(--lightBlue);
  }

  button {
    background-color: var(--ultraLightGrey);
  }
}